body{
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: Arial;
    color: black;

    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 3vh 81vh 81vh 81vh 67vh 67vh 67vh 81vh 168vh ;
    gap: 12px;

    margin-left: -12px;
    margin-right: -12px;;

}



#Laatstekans{
    background-color: rgb(255, 255, 255);
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: -12px;

    

    /*background-image: URL('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

#iPhone17Pro{
    background-color: rgb(0, 0, 0);
    grid-column: 1/3;
    grid-row: 2/3;

   color:aliceblue;
   

    background-image: URL('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#iPhoneAir{
    background-color: rgb(233, 233, 235);
    grid-column: 1/3;
    grid-row: 3/4;

   

    /*background-image: URL('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

#iPhone17{
    background-color: rgb(233, 233, 235);
    grid-column: 1/3;
    grid-row: 4/5;


    /*background-image: URL('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

#WATCHSERIES11{
    background-color: rgb(233, 233, 235);
    grid-column: 1/2;
    grid-row: 5/6;


    /*background-image: URL('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

#AirPodsPro3{
    background-color: rgb(233, 233, 235);
    grid-column: 2/3;
    grid-row: 5/6;


    /*background-image: URL('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

#MacBookAir{
    background-color: rgb(233, 233, 235);
    grid-column: 1/2;
    grid-row: 6/7;


    /*background-image: URL('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

#iPadAir{
    background-color: rgb(233, 233, 235);
    grid-column: 2/3;
    grid-row: 6/7;


    background-image: URL('img/test.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#WATCHSE3{
    background-color: rgb(233, 233, 235);
    grid-column: 1/2;
    grid-row: 7/8;


    /*background-image: URL('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

#TradeIn{
    background-color: rgb(233, 233, 235);
    grid-column: 2/3;
    grid-row: 7/8;


    /*background-image: URL('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

#tv+{
  
  grid-column: 1/3;
  grid-row: 8/9;
  overflow: hidden; /* belangrijk om alles binnen het vak te houden */
  position: relative;
}

    /*background-image: URL('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/


#Menu{
    background-color: rgb(233, 233, 235);
    grid-column: 1/3;
    grid-row: 9/10;


    /*background-image: URL('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

.bold{
font-size: 24px;
font-weight:700;
}

.petit{
font-size: 12px;
font-weight:300;
}


/*=========================================*/

#galleryHolder {
  display: flex;
  gap: 12px; /* â† ruimte tussen de plaatjes */
  height: 100%;
  transition: transform 0.6s ease;
  padding: 0 12px; /* zorgt dat de buitenste randen ook ruimte hebben */
}

#galleryHolder > div {
  flex: 0 0 calc(80vw - 24px); /* 100vw minus de totale gap */
  height: 100%;
  background-size: contain; /* of 'cover', zie uitleg hieronder */
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px; /* optioneel, voor afgeronde hoeken */
}
    

    #gallery1{
    background-image: URL("applefotos/tv/1.jpg");
    background-position: center;
    background-size: cover;
    }

    #gallery2{
    background-image: URL("applefotos/tv/2.jpg");
    background-position: center;
    background-size: cover;
    }
    #gallery3{
        background-image: URL("applefotos/tv/3.jpg");
        background-position: center;
        background-size: cover;
    }

    #gallery4{
        background-image: URL("applefotos/tv/4.jpg");
        background-position: center;
        background-size: cover;
    }

    #gallery5{
        background-image: URL("applefotos/tv/5.jpg");
        background-position: center;
        background-size: cover;
    }
    #gallery6{
        background-image: URL("applefotos/tv/6.jpg");
        background-position: center;
        background-size: cover;
    }

    #gallery7{
        background-image: URL("applefotos/tv/7.jpg");
        background-position: center;
        background-size: cover;
    }

    #gallery8{
        background-image: URL("applefotos/tv/8.jpg");
        background-position: center;
        background-size: cover;
    }
    #gallery9{
        background-image: URL("applefotos/tv/9.jpg");
        background-position: center;
        background-size: cover;
    }

    #gallery10{
        background-image: URL("applefotos/tv/10.jpg");
        background-position: center;
        background-size: cover;
    }

    #gallery11{
        background-image: URL("applefotos/tv/11.jpg");
        background-position: center;
        background-size: cover;
    }
    #gallery12{
        background-image: URL("applefotos/tv/12.jpg");
        background-position: center;
        background-size: cover;
    }

    #gallery13{
        background-image: URL("applefotos/tv/13.jpg");
        background-position: center;
        background-size: cover;
    }

    #gallery14{
        background-image: URL("applefotos/tv/14.jpg");
        background-position: center;
        background-size: cover;
    }
    #gallery15{
        background-image: URL("applefotos/tv/15.jpg");
        background-position: center;
        background-size: cover;
    }

    #gallery16{
        background-image: URL("applefotos/tv/16.jpg");
        background-position: center;
        background-size: cover;
    }

    #gallery17{
        background-image: URL("applefotos/tv/17.jpg");
        background-position: center;
        background-size: cover;
    }
    #gallery18{
        background-image: URL("applefotos/tv/18.jpg");
        background-position: center;
        background-size: cover;
    }

    #gallery19{
        background-image: URL("applefotos/tv/19.jpg");
        background-position: center;
        background-size: cover;
    }

    #gallery20{
        background-image: URL("applefotos/tv/20.jpg");
        background-position: center;
        background-size: cover;
    }
    #gallery21{
        background-image: URL("applefotos/tv/21.jpg");
        background-position: center;
        background-size: cover;
    }

    #gallery22{
        background-image: URL("applefotos/tv/22.jpg");
        background-position: center;
        background-size: cover;
    }

    #gallery23{
        background-image: URL("applefotos/tv/23.jpg");
        background-position: center;
        background-size: cover;
    }

   
   
    


